<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://th.bing.com/th/id/OIG._h1TiAPv1ideI0Bq.B5E?pid=ImgGn"
    cardTitle = "Novas Tecnologias, novas Artes"
    cardDescription ="o autor é uma inteligência artificial!"
    ></app-big-card>
    <app-big-card
    photoCover="https://th.bing.com/th/id/OIG.0gj2_ChqZGaxyhnGNbX5?pid=ImgGn"
    cardTitle = "Novas possibilidades"
    cardDescription ="Com a rede neural e a deep learning!!"
    ></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://th.bing.com/th/id/OIG.cuemf4SKeUswWnDmsXxP?pid=ImgGn"
    cardTitle="Pintura gerada por IA quebra paradigmas">
  </app-small-card>
    <app-small-card
    photoCover="https://th.bing.com/th/id/OIG.r7mhLECqBjJjsqEF04fh?pid=ImgGn"
    cardTitle="Exposição de arte generativa cativa multidões:">
    ></app-small-card>
    <app-small-card
    photoCover="https://th.bing.com/th/id/OIG.rYzYXPiAvWT8avohPPzA?pid=ImgGn"
    cardTitle="Artistas colaboram com IA para criar novas formas de expressão">
    ></app-small-card>
      <app-small-card
    photoCover="https://th.bing.com/th/id/OIG.d1lqoCbBFVImGYWqjUG8?pid=ImgGn"
    cardTitle="IA impulsiona a pesquisa em história da arte computacional">
    ></app-small-card>
  </div>
</div>
