@media screen and (max-width: 600px) {
  .container__articles {
    margin-top: 10px; /* Reduzindo a margem superior para celular */
    flex-direction: column; /* Alterando a direção da coluna para celular */
    align-items: center; /* Centralizando o conteúdo verticalmente para celular */
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .container__articles {
    margin-top: 20px; /* Mantendo a margem superior original para tablets */
    flex-direction: row; /* Mantendo a direção da linha para tablets */
    justify-content: center; /* Mantendo o justificação central para tablets */
  }
}

@media screen and (min-width: 1025px) {
  .container__articles {
    margin-top: 20px; /* Mantendo a margem superior original para computadores/TVs */
    flex-direction: row; /* Mantendo a direção da linha para computadores/TVs */
    justify-content: center; /* Mantendo o justificação central para computadores/TVs */
  }
}
