*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7d4a7;
  color:#4b3b27;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}
